/* *********************************************************** */
/* body */
/* *********************************************************** */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}

/* *********************************************************** */
/* Declaracion Jurada */
/* *********************************************************** */

/* Titulo del borde */

legend {
    float: none;
    font-size: 1.8rem;
}

/* Borde del formulario */
.borde_form {
    border-color: #32abbe !important;
    border-radius: .25rem !important;
    margin-bottom: 4rem !important;
}

/* boton submit */
.boton_submit {
    background-color: #32abbe;
    border-color: #32abbe;
}


/* *********************************************************** */
/* Menu */
/* *********************************************************** */

/* logo menu */
.logo_menu {
    cursor: pointer;
    transition: transform 0.3s ease;

}

/* logo menu hover */
.logo_menu:hover {
    transform: scale(1.05);
}

/* cards menu  */

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


/* serrar sesion */

.logout-link:hover {
    color: #a30000;
    /* tono más oscuro */
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.logout-link:hover i {
    color: #a30000;
}


/* link perfil */

.profile-link:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.profile-link:hover img {
    transition: box-shadow 0.2s ease;
}


/* *********************************************************** */
/* Formularios */
/* *********************************************************** */

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}